* {
  box-sizing: border-box;
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background: #F6E7D8;
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.logo {
  line-height: 65px;
  color: #874356;
  display: block;
  float: left;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 25px;

}

.header-right a {
  line-height: 65px;
  margin-top: 10px;
  padding: 0 15px;
  color: #874356;
  display: block;
  float: left;

}

.header-right a:hover {
  background-color: white;
}

.login {
  background-color: rgba(238, 24, 192, 0.3);
  border: 2px solid;
  border-radius: 10px;

}


.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}


.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  color: #874356;

}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  background-color: #F6E7D8;
  margin-bottom: 20px;

}

.column h1 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.column p {
  opacity: 0.7;
  font-size: 33px;
  margin-bottom: 3px;
}

.column img {
  padding: 5px;
  width: 660px;
  height: 415px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: #F6E7D8;
}